﻿#content-upload .gallery-box.complete .progress-top {
    background: transparent;
    transition: background 0.5s;
}

#content-upload .gallery-box .progress-striped {
    position: relative;
    z-index: 1;
}

#content-upload .gallery-box.complete .progress-striped,
#content-upload .gallery-box.complete .btn-group {
    opacity: 0;
    transition: background 0.5s;
}

#content-upload .gallery-box.complete:hover .btn-group {
    opacity: 1;
}

.gallery-box {
    float: left;
    min-height: 200px;
    overflow: hidden;
    text-align: center;
}

    .gallery-box .thumbnail {
        position: relative;
        margin-bottom: 5px;
        min-height: 153px;
        overflow: hidden;
        background: #e9e9e9;
    }

        .gallery-box .thumbnail .icon-file {
            font-size: 80px;
            line-height: 140px;
        }

        .gallery-box .thumbnail .alert.alert-danger {
            position: absolute;
            margin: 10px;
            top: 0;
        }

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

    .drop.drag-over {
        background: #E9E9E9;
    }

.progress-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 30% 10%;
    transition: all 2s;
}

    .progress-top.progress-show {
        background: transparent;
    }

        .progress-top.progress-show .progress-striped {
            opacity: 0;
            transition: all 2s;
        }

.progress-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 30% 10%;
    transition: all 2s;
}

    .progress-top.progress-show {
        background: transparent;
    }

        .progress-top.progress-show .progress-striped {
            opacity: 0;
            transition: all 2s;
        }

.single-file {
    display: table;
    width: 100%;
}

    .single-file .drop {
        float: left;
        padding: 10px;
        /*min-width: 400px;*/
    }

    .single-file .gallery-box .thumbnail {
        min-height: 0;
        background: transparent !important;
        border: 0 none;
        margin: 0;
        border: 1px solid #e1e1e1;
        padding: 0;
        border-radius: 0;
    }

    .single-file .gallery-box {
        min-height: initial;
        width: 125px;
        padding: 0;
        margin-left: 15px;
    }

        .single-file .gallery-box .thumbnail .icon-file {
            font-size: 45px;
            line-height: 57px;
        }

    .single-file .alert.alert-danger {
        position: absolute;
        top: 0;
        opacity: 0.95;
        padding: 3px;
        margin: 6px;
        line-height: 16px;
    }

    .single-file .gallery-box .btn-group {
        position: absolute;
        top: 7px;
        left: 28px;
        z-index: 1;
    }

    .single-file .gallery-box .title {
        color: #999;
        font-size: 12px;
        line-height: 13px !important;
        font-weight: normal;
    }
