<div ng-class="{'single-file' : singleFile}">
    <div flow-init="vm.params"
         flow-file-success="vm.sucesso($file)"
         flow-file-error="vm.erro($file)"
         flow-files-submitted="$flow.upload()"
         flow-drag-enter="dropClass='drag-over'"
         flow-drag-leave="dropClass=''"
         flow-drop="">

        <div class="drop {{dropClass}}" ng-class="{ 'col-sm-8': singleFile }">
            <button class="btn btn-primary" flow-btn="">
                <i class="fa fa-paperclip"></i>
                Selecione o{{vm.params.singleFile ? '' : 's'}} arquivo{{vm.params.singleFile ? '' : 's'}}
                <input type="file" ng-model="model" name="files" class="hide" ng-change="vm.change(this)" />
            </button>
            <span ng-if="!model.name">ou arraste e solte seu{{vm.params.singleFile ? '' : 's'}} aqui...</span>
            <span ng-if="model.name">{{model.name}}</span>
        </div>

        <div id="content-upload" ng-class="{'row' : !singleFile, 'col-sm-4': singleFile}">
            <div ng-class="{'mt-15' : !singleFile}">
                <div ng-repeat="file in $flow.files" class="gallery-box col-sm-3" id="{{file.uniqueIdentifier}}">
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="file" ng-if="{jpg:1,gif:1,png:1}[file.getExtension()]" />

                        <i class="icon-file fa fa-file-excel-o text-success" ng-if="{xlsx:1,xls:1}[file.getExtension()]"></i>

                        <i class="icon-file fa fa-file-word-o text-info" ng-if="{docx:1,doc:1}[file.getExtension()]"></i>

                        <i class="icon-file fa fa-file-pdf-o text-danger" ng-if="{pdf:1}[file.getExtension()]"></i>

                        <div class="progress-top" ng-class="{'progress-show2' : file}">
                            <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                <div class="progress-bar" role="progressbar"
                                     aria-valuenow="{{file.progress() * 100}}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     ng-style="{width: (file.progress() * 100) + '%'}">
                                    <label class="sr-only">{{file.progress()}}% Complete</label>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-xs btn-danger" ng-click="file.cancel()">
                                    <i class="fa fa-trash-o"></i>
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="title" ng-if="!singleFile">{{file.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>