<div>
    <div class="row">
        <div class="col-sm-5">
            <button class="btn btn-primary"
                    ng-if="!disabled && buttonTop"
                    ng-class="{'pull-left' : files.length}"
                    ng-click="vm.openModalUpload()">
                <i class="fa fa-plus"></i>
                Adicionar Arquivos
            </button>
        </div>
    </div>
    <div class="files-container col-sm-12 text-center"
         ngf-empty=""
         icon-empty="true"
         padding-top="{{disabled ? '55px' : '15px'}}"
         text-empty="Nenhum arquivo adicionado!">

        <ngf-file files="files" ng-if="!template" editar="!disabled"></ngf-file>
        <div class="content"></div>
        <button class="btn btn-default btn-add-file"
                ng-if="!disabled && !buttonTop"
                ng-class="{'pull-left' : files.length}"
                ng-click="vm.openModalUpload()">
            <i class="fa fa-plus"></i>
            Adicionar Arquivos
        </button>
    </div>
</div>
