﻿    <div class="modal-header">
        <h4 class="modal-title">
            Adicionar Arquivos
        </h4>
    </div>
    <div class="modal-body modal-body-fixed" ng-init="vm.aba = 1">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" ng-click="vm.aba = 1">
                            <i class="fa fa-upload"></i>
                            Enviar arquivos
                        </a>
                    </li>
                    <!--<li>
                        <a data-toggle="tab" ng-click="vm.aba = 2">
                            <i class="fa fa-file-text"></i>
                            Número do GEDOC (NUP)
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane in active" ng-show="vm.aba == 1">
                        
                        <ngf-upload-file query="vm.query" target="vm.target"></ngf-upload-file>
                    </div>

                    <!-- <div class="tab-pane" ng-show="vm.aba == 2">
                        <div class="alert alert-info">
                            <i class="fa fa-exclamation-circle"></i>
                            Informe os números dos documentos no formuário abaixo!
                        </div>
                        <form class="form-inline">
                            <div class="mb-10" ng-repeat="numero in vm.formNups track by $index">
                                <div class="form-group form-item">
                                    <label class="control-label">Nº do GEDOC (NUP): </label>
                                    <input type="text" name="{{numero.id}}" ng-model="numero.numero"
                                           class="form-control" placeholder="Digite o número do GDOC (NUP)" />
                                    <button class="btn btn-danger ml-5" ng-click="vm.removeFormNup($index)" ng-show="$index != 0">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <button class="btn btn-primary mt-35" ng-click="vm.addNewFormNup()">
                            <i class="fa fa-plus"></i>
                            Adicionar Campos
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.close()">
            <i class="fa fa-check"></i> Concluir
        </button>
    </div>
