<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#painel-upload">
            <h3 class="panel-title">
                <i class="fa fa-edit"></i>
                Componente Upload usando template customizado
            </h3>
        </div>
        <div class="panel-body collapse in" id="painel-upload">
            <div class="row">
                <div class="col-sm-12">
                    <div ngf-upload
                         query="vm.query"
                         files="vm.lista"
                         reload="vm.listar"
                         template="true"
                         button-top="true">
                        <table class="table table-grid" ng-if="vm.lista.length > 0">
                             <thead>
                                <tr>
                                    <th class="text-center">Nome</th>
                                    <th class="text-center">Extensão</th>
                                    <th class="text-center">Tamanho (KB)</th>
                                 </tr>
                            </thead>
                            <tbody ng-repeat="item in vm.lista">
                                <tr  class="pointer">
                                    <td>{{item.Nome}}</td>
                                    <td>{{item.Extensao}}</td>
                                    <td>{{item.Tamanho / 1024 | number:2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#painel-upload">
            <h3 class="panel-title">
                <i class="fa fa-edit"></i>
                Componente Upload template default
            </h3>
        </div>
        <div class="panel-body collapse in" id="painel-upload">
            <div class="row">
                <div class="col-sm-12">
                    <div ngf-upload
                         query="vm.query"
                         files="vm.lista"
                         reload="vm.listar"
                         template="false"
                         button-top="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>